* {
    margin: 0px 5px;
  
    padding: 0px;
    box-sizing: border-box;
  
    body {
      font-family: sans-serif;
    }
  }

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;

    &__logo{
        font-size: 4vw;
    }

    &__menu{
        display: flex;
        font-size: 3vw;
        gap: 20px;
    }
}

.main {
    display: flex;
    flex-direction: row;
    height: 80%;

    &__image{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url(./images/Portrait.png);
        width: 50%;
    }

    &__text{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 15px;

        &-1 {
            font-size: 10vw;
        }
        &-2,&-3,&-4 {
            font-size: 5vw;
        }

        span {
            color: red;
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 7%;
    height: 10%;

    [class^="footer__"]{
        img {
            width: 5.3vw;
        }
    }
}

@media (max-width: 650px) {
    .header {
        justify-content: center;

        &__logo {
            font-size: 40px;
        }

        &__menu {
            display: none;
        }
    }

    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__image {
            height: 200px;
            width: 200px;
            background-size: 100%;
            border-radius: 100%;
            background-position: center;
        }

        &__text {
            width: 100%;

            &-1 {
                display: none;
            }

            &-2,&-3,&-4 {
                font-size: 30px;
            }
        }
    }

    .footer {
        justify-content: center;
        margin: 0px;

        [class^="footer__"] {
            img {
                width: 45px;
                height: 45px;
            }
        }
    }
}

#size {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 10px;
}
